<p><b>IMPRINT</b></p>
<p>yakek.com</p>
<p>
Owner: Malin Manjula Samaranayake,
Wahlbergstrasse 10,
81539 Munich,
Germany
</p>
<p>Telephone: +4915117577304</p>
<p>Mail: malinsamare@gmail.com</p>
<p>VAT identification number: 146/183/41802</p>
<p>Small business owners according to § 19 UStG</p>
<p>The European Commission provides a platform for online dispute resolution (OS), which you can find here https://ec.europa.eu/consumers/odr/ . We are ready to participate in an extrajudicial arbitration procedure before a consumer arbitration board.</p>
